.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #10a37f;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  height: 85px;
  }
  
.headerIcon {
  margin: 16px;
  width: 65px;
  height: 65px;
}

.headerTitle {
  flex-grow: 1;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
